*.pyc
.DS_Store
backup
chroma# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
